<div layout layout-align="center center">
  <form layout layout-align="center center"  md-whiteframe="3" name="loginForm" ng-submit="login()">
    <div layout="column" layout-align="center center" class="md-padding" style="border: solid thin #c2ccd1; border-radius:2%;">
      <legend>Credentials</legend>
      <md-input-container>
        <label for="email">Email</label>
        <input type="email" ng-model="user.email" id="email">
      </md-input-container>
      <md-input-container>
        <label for="password">Password</label>
        <input type="password" ng-model="user.password" id="password">
      </md-input-container>
      <div>
        <md-button type="submit">Log In</md-button>
      </div>

    </div>


  </form>
</div>
